body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #e0f7fa;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #00bcd4;
    padding: 0px 40px;
    color: white;
}

.logout {
    background: #f44336;
    color: white;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 6px;
}

.logout:hover {
    background: #d32f2f;
}

h1 {
    margin-bottom: 20px;
    color: #4d4d4d;
}

.dashboard {
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th,
td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

th {
    background: #00bcd4;
    color: white;
}

.actions a {
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    margin: 0 3px;
    display: inline-block;
}

.confirm {
    background: #4CAF50;
}

.cancel {
    background: #ff9800;
}

.delete {
    background: #f44336;
}

.confirm:hover {
    background: #388E3C;
}

.cancel:hover {
    background: #e68900;
}

.delete:hover {
    background: #d32f2f;
}