body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #B2EBF2, #c4f0ff);
    height: 100vh;
    overflow: hidden;
}

.change-container {
    width: 450px;
    height: 400px;
    margin: 140px auto;
    background: white;
    padding: 30px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

input:focus {
    outline: none;
    border-color: #4A90E2;
    box-shadow: 0 0 0 3px rgba(74, 144, 226, 0.1);
}

h2 {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #4d4d4d;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn {
    background: #4caf50;
    color: white;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #388e3c;
    transform: translateY(-2px);
}

.back-btn {
    background: #00bcd4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    margin-left: 14px;
}

.back-btn:hover {
    background: #0097a7;
    transform: translateY(-2px);
}

.error,
.success {
    text-align: center;
    color: #d33;
    margin-bottom: 10px;
}

.success {
    color: #4CAF50;
}